trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: "faculty-leave-app"

steps:
- task: DockerInstaller@0

- task: Docker@2
  displayName: Build Docker Image
  inputs:
    command: build
    repository: $(imageName)
    dockerfile: Dockerfile
    tags: latest

- task: Docker@2
  displayName: Login to ACR
  inputs:
    command: login
    containerRegistry: facultyleaveacr123   # ACR service connection name

- task: Docker@2
  displayName: Push Image to ACR
  inputs:
    command: push
    repository: $(imageName)
    tags: latest

- task: AzureWebAppContainer@1
  displayName: Deploy to Azure Web App
  inputs:
    azureSubscription: "AzureConnection"   # Azure RM service connection
    appName: "faculty-leave-plan"          # Your Web App name
    containers: "facultyleaveacr123.azurecr.io/faculty-leave-app:latest"
