trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: "faculty-leave"

steps:
- task: DockerInstaller@0

- task: Docker@2
  displayName: Build Docker Image
  inputs:
    command: build
    repository: $(imageName)
    dockerfile: Dockerfile
    tags: latest

- task: Docker@2
  displayName: Login to ACR
  inputs:
    command: login
    containerRegistry: facultyleaveacr123

- task: Docker@2
  displayName: Push Image to ACR
  inputs:
    command: push
    repository: $(imageName)
    tags: latest

- task: AzureWebAppContainer@1
  displayName: Deploy to Azure Web App
  inputs:
    azureSubscription: "<YOUR-AZURE-SERVICE-CONNECTION>"
    appName: "faculty-leave-webapp"
    containers: "facultyleaveacr123.azurecr.io/faculty-leave:latest"
